:root {
  --light: #ffffff;
  --success: #2bc48a;
}
#notifications-copy {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: auto;
}
#notifications-copy :where(.notifications-toast) {
  display: flex;
  align-items: center;
}
.notifications-toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  background: var(--success);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
  align-items: center;
  color: #fff;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.hide-toast {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.content-toast {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.content-toast i {
  background-color: hsla(0, 0%, 100%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  color: var(--light);
  font-size: 13px;
}

.close-icon {
  cursor: pointer;
}

.close-icon::before {
  display: block;
  content: "\f13d";
  font-family: bobjoll;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: 15px;
}

.success::before,
.btn#success {
  background: var(--success);
}

@media screen and (max-width: 530px) {
  #notifications-copy {
    width: 95%;
  }
  #notifications-copy .notifications-toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
}
